{% extends 'ProyectoTiendaWebApp/base.html' %}

{% load static %}

{% block content %}

<div class="servicios-container">

    {% for servicio in servicios %}

    <div class="servicio-banda">

        <img class="banda-img" src="{{servicio.imagen.url}}" alt="">

        <div class="banda-text">
            <h2 class="section-heading">

                <span class="section-heading-lower">{{servicio.titulo}}</span>
                <span class="section-heading-upper text-muted">{{servicio.contenido}}</span>

            </h2>
        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}
